test.py

geckodriver*
geckodriver
geckodriver.log
geckodriver-v0.32.0-linux64.tar.gz
geckodriver-v0.32.0-linux64.tar.gz.asc

user_credentials_file
sniper_bot.spec
file_test.*

/.vscode

/.idea

/build

/dist





